#root {
  max-width: 800px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f1f2ed;
  font-family: 'Ubuntu', "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


